**/__history
**/__recovery
**/dcu
**/*.~*
**/*.dcu
**/*.dproj
**/*.local
**/*.*.local
**/*.*.identcahce
**/*.*.map
**/*.identcache
**/*.map
**/*.delphilsp.json
/Release/endless.exe
/Release/config
/Release/data
/Release/gfx
/Release/help
/Release/jbox
/Release/maps
/Release/pub
/Release/sfx
/Release/mfx



